<h2>Edit a Client</h2>

<form action="/client-update/{{client._id}}/edit" method="POST">
  <label>Name:</label>
  <input type="text" name="name" value="{{client.name}}" />

  <label>Last Name:</label>
  <input type="text" name="lastName" value="{{client.lastName}}" />

  <label>Email:</label>
  <input type="text" name="email" value="{{client.email}}" />

  <button type="submit">Save changes</button>
</form>

<hr />

<form action="/client-update/{{client._id}}/delete" method="POST">
  <button type="submit">Delete</button>
</form>