<h2>Client</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <td> <a href="/clientsadd/{{this._id}}">Add Client</a></td>
    </tr>
  </thead>
  <tbody>
    {{#if IsLoggedIn}}
      {{#each clientsFromDb}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.lastName}}</td>
          <td>{{this.email}}</td>
          <td> <a href="/client-update/{{this._id}}/edit">Edit</a></td>
        </tr>

      {{/each}}
    {{/if}}

    {{#each client.ambassador}}
      <h3> {{this.name}} </h3>
    {{/each}}
  </tbody>
</table>
<footer></footer>
<a href="/login">
  <button type="button" class="btn btn-primary">Logout</button>
</a>